{% extends "base.html" %}

{% block title %}Responses for {{ form['title'] }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Responses for {{ form['title'] }}</h2>
    <p>Created on: {{ form.creation_date | default("Unknown date") }}</p>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Submission Date</th>
                {% for question in questions %}
                    <th>{{ question }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for response in responses %}
            <tr>
                <td>{{ response.get('Submission Date', "N/A") }}</td>
                {% for question in questions %}
                    <td>{{ response.get(question, "N/A") }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('frontend.export_responses_csv', form_id=form['id']) }}" class="btn btn-primary mt-3">Download CSV</a>
</div>
{% endblock %}

